{# bas de page #}

<footer>
    <div class="footer-bandeau">
        <img
                src="{{ asset('images/logo.png') }}"
                alt="Bandeau de bas de page"
        >
    </div>
</footer>