{% extends 'Layouts/layout_vente.html.twig' %}

{% block title %}{{ parent() }} : utilisateurs{% endblock %}

{% block titre_principal %}{{ parent() }} : gestion des utilisateurs{% endblock %}

{% block vue %}
    <section>
        <h2>Liste des utilisateurs</h2>

        <table>
            <thead>
            <tr>
                <th>Login</th>
                <th>Mot de passe hashé</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Statut</th>
                <th>Pays</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="8">Aucun utilisateur affiché pour le moment.</td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}